html
html
	head
		title thank you for signing up for myhappyti.me
		style
			include styles.css
	body
		div(class="goodbye_msg")
			p Thank you for registering!
			p You both should be receiving an email soon!